*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 252, 86);
}

#banner{
    background-color: rgb(255, 255, 125);
}
.productosEstilos{
    display: grid;
    grid-template-columns: repeat(3,1fr)
}



/* Loader */

  
  .loader {
        text-align: center;
  }
  
/*Card*/
.card{
    width: 90%;
    max-width: 260px;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(152, 240, 101);
    max-height: 300px;
}
.card h3{
    color: black;
    margin: 0.5rem 0rem;
    padding: 0.25rem;
    padding-top: 1rem;
    font-size: 2.25rem;
    height: 120px;

}
.card img{
    border: 1px solid black;
    border-radius: 2%;
    min-width: 250px;
    width: 100%;
    height: 150px;
}
.row{
    height: auto;
    width: 1300px;
    margin: 1px;
    border-radius: 2%;
    background-color: rgb(252, 253, 175);
}
#calcular{
    border: 5%;
    border-color: black;
    
}